# Python
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# Training outputs (VERY IMPORTANT)
functiongemma-270m-it-qdrant-ft/
checkpoints/
checkpoint-*/
*.bin
*.safetensors
optimizer.pt
scheduler.pt

# HuggingFace cache
.cache/
